<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/pico.classless.min.css">
    </head>
    <body>
<main class="container">
<nav>
    <ul>
        <li><strong>Voicestagram</strong></li>
    </ul>
    <ul>
            <li><a href="/">Home</a></li>
            <li><a href="login">Login</a></li>
    </ul>
</nav>


<h2>Welcome zo te zien ben je niet ingelogd</h2>












<hr>
<span>© Voicestagram inc @Meurs</span>
</main>
</body>
</html>