{{template "header.gohtml" .}}
{{template "nav.gohtml" . }}
<h2>Welcome to SVS</h2>
{{if .User}}
    <p>Hi {{.User.FirstName}} {{.User.LastName}}</p>
{{else}}
    <p>Hi Guest</p>
{{end}}	
{{template "footer.gohtml" .}}


