
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/createpost" method="post" enctype="multipart/form-data">
        <label for="voiceMessage">Voice Message:</label>
        <input type="file" id="voiceMessage" name="voiceMessage" accept="audio/*" capture>
        <br>
        <input type="submit" value="Submit">
     </form>
</body>
</html>